





body {
    font-family: Arial, Helvetica, sans-serif;
    clear: all;
    background-color: grey;
    
}

#header {
    background-color: white;
    font-display: grey;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    width: 1200px;
    height: 100px;


}

nav{
    background-color: white;
    font-display: grey;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    width: 1200px;
    height: 100px;

    
}


section {
    float: left;
    background-color: white;
    font-display: white;
    height: 400px;
   width: 600px;
   margin-left: 150px;
   text-align: center;
   

}
.group:after {
    content: "";
    display: table;
    clear: both;
  }

aside { 
    float: right;
    background-color: white;
    padding: 80px;
    font-display: white;
    width: 500px;
    height: 200px;
    margin-left: -500px;
    text-align: center;
    

}

article {
    background-color: white;
    font-display: white;
    width: 600px;
    height: 220px;
    margin-top: 125px;
    margin-left: 200;
}

h2 {
    background-color: white;
    width: 400px;
    height: 75px;
    margin-left: 100px;
    margin-right: 0px;
    text-align: center;
    margin-top: -10;

}


p {
    background-color: White;
    font-display: white;
    height: 100px;
    width: 400px;
    margin-left: 100px;
    margin-top: -5px;
    font-size: 5
    
}



footer {
    background-color: white;
    font-display: white;
    margin-top: 400px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding: 50px;
    

   
    
    


}

